body{
    background: rgb(121, 158, 185);
}

.fullwrap{
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    height: 1080px;
    bottom: 13px;
    box-shadow: 0px 0px 30px rgba(108, 143, 171, 0.5);
}

.header{
    position: absolute;
    max-width: 900px;
    width: 100%;
}

.logo-tree{
    position: absolute;
    max-width: 67px;
    top: 15px;
    left: 10px;
}

.header-text{
    position: absolute;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 90px;
    top: 0;
}

.header-text h1{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: rgb(22, 47, 104);
}

.header-text h1 a{
    color: rgb(22, 47, 104);
    text-decoration: none;
}

.header-text span{
    text-transform: uppercase;
}

.header-text h2{
    font-size: 9px;
    font-weight: bold;
    line-height: 10px;
    color: rgb(143, 148, 155);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.logo-leaf{
    position: absolute;
    max-width: 80px;
    right: 20px;
    top: 13px;
}

.content{
    position: relative;
    top: 121px;
    overflow: visible;
    background-color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}

.content p, h1, h2, ul, .quotes-main p, .footer p{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, sans-serif;
}

.brochure{
    float: right;
    width: 300px;
    margin: 20px 30px 30px 30px;
    box-shadow: 0px 4px 20px 5px rgba(150, 150, 150, 0.5);
    border: 5px solid rgb(224, 230, 236);
    background-color: rgb(255, 255, 255);
}

.brochure img{
    vertical-align: bottom;
    margin: -5px 0 0px -5px;
}

.brochure .brochure-div{
    background-color: rgb(188, 56, 52);
    margin: 0 -5px;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    border-top: 1px solid rgb(255, 255, 255);
}

.brochure .form p span{
    display: block;
    padding-left: 8px;
    margin-top: 5px;
}

.brochure-div p, h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}

.brochure-div p{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
}

.brochure-div h1{
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 4px;
}

.br{
    display: block;
}

.form{
    margin: 12px auto;
    padding: 0;
    width: 290px;
    height: 250px;
    float: left;
}

.form iframe{
    padding-left: 8px;
    width: 290px;
    height: 220px;
}

.form p span{
    color: rgb(188, 56, 52);
}

.form p{
    text-align: left;
    margin-bottom: 6px;
    padding-left: 8px;
}

.about{
    background-color: rgb(224, 230, 236);
    padding: 10px 30px;
    margin: 13px 0 24px;
}

.about h2{
    font-size: 20px;
    padding-top: 6px;
    font-weight: bold;
    line-height: 26px;
    font-family: Verdana, sans-serif;
    color: rgb(22, 47, 104);
    margin-bottom: 9px;
}

.about ul{
    font-size: 13px;
    line-height: 24px;
    font-stretch: normal;
    color: rgb(22, 47, 104);
    margin-bottom: 12px;
    padding-left: 20px;
}

.requirements{
    margin: 0 30px;
}

.requirements h1{
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: rgb(22, 47, 104);
    margin-bottom: 5px;
    padding: 0px;
}

.requirements ul{
    font-size: 13px;
    line-height: 24px;
    color: rgb(22, 47, 104);
    margin-bottom: 10px;
    padding-left: 20px;
}

.companies{
    overflow: hidden;
    clear: right;
}

.companies h1{
    margin-bottom: 15px;
}

.companies .mobile{
    display: none;
}

.logos-img{
    width: 100%;
    width: 800px;
    float: left;
    clear: right;
}

.comment{
    background-color: rgb(224, 230, 236);
    overflow: hidden;
    padding: 20px 30px;
    margin-top: 20px;
    height: 170px;
}

.comment p{
    float: left;
    width: 48%;
    line-height: 24px;
    color: rgb(22, 47, 104);
    margin-bottom: 10px;
    padding: 0px;
}

.comment p+p{
    margin-left: 4%; 
}

.main{
    padding-bottom: 10px;
}

.footer{
    position: relative;
    top: 125px;
}

.footer p{
    font-size: 11px;
    line-height: 18px;
    text-align: center;
}

p.sitemap{
    padding: 0 0 20px;
}

.footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}