body{
	background: url(../img/body-bg.png) repeat-x;
	overflow-x: hidden;
}

.header{
	margin: 10px 250px;
	width: 100%;
	height: 100px;
	background: url(../img/utp.png);
	background-repeat: no-repeat;
}

.menu{
	margin: 10px 250px;
}

.b{
	background-color: aliceblue;
	height: 40px;
	color: #000000;
	border: none;
	font-size: 14pt;
}

.b:hover{
	background-color: darkgrey;
}