.main {
	width: 710px;
	height: 500px;
	background: #80CEC7;
	position: absolute;
}
.world, .water, .wooden-ship, .clouds {
	position: absolute;
}

.clouds {
	width: 350px;
  	z-index:0;
  	left: 300px;
}

.world {
	top:100px;
	width: 700px;
  	z-index:1;
}

.wooden-ship {
	width: 150px;
	top:340px;
  	left:30px;
  	z-index:2;
}

.water {
	width: 710px;
	top:480px;
	z-index:3;
}

